<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
</head>
<body>
    <h1>Корзина</h1>
    <p>Ваша корзина пока пуста. Добавьте музыкальные композиции для прослушивания или покупки позже.</p>
    
    <!-- Кнопка для возвращения на главную страницу -->
    <a href="{% url 'home' %}">
        <button type="button">Вернуться на главную</button>
    </a>
</body>
</html>