<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Музыкальный список</title>
</head>
<body>
    <h1>Музыкальный список</h1>
    <ul>
        {% for key, song in songs.items %}
            <li>{{ song }}
                <button type="button">Просто кнопка</button>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">
        <button type="button">Вернуться на главную</button>
    </a>
</body>
</html>